*,
*::before,
*::after {
  box-sizing: border-box;
}

/* all required colors declared */
:root{
    --card-text : #333F48;
    --body-bg : #f9fbfd;
    --card-header : #e7e9eb;
    --check-btn : #d41373;
    --border : #c0c7cf;
}

body {
  font-family: sans-serif;
  background-color: var(--body-bg);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--card-text);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--card-header);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--card-header);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: var(--check-btn);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#palindrome {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding: 15px 15px 15px 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed ;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}